* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 12px;
}

p {
    font-size: 12px;
}

.container{
    width: 100vw;
    height: 100vh;
    background: rgb(0,150,136);
    background: linear-gradient(180deg, rgba(0,150,136,1) 20%, rgba(220,219,209,1) 20%, rgba(238,238,238,1) 50%, rgba(210,219,219,1) 100%);
    overflow: hidden;
}

#window {
    width: 80vw;
    height: 95vh;
    margin: 2.5vh auto;
    background-color: white;
    display: flex;
}

#col-sx {
    width: 35%;
    height: 100%;
}

#col-dx {
    width: 65%;
    height: 100%;
}

#utente,
#chat-utente {
    width: 100%;
    height: 10%;
    background-color: rgba(234,234,234,255);
    display: flex;
    justify-content: space-between;
}

#utente {
    border-right: 1px solid lightgray;
}

#dati-utente,
.contatto,
#chat-dati-utente {
    display: flex;
    justify-content: start;
    align-items: center;
}

#dati-utente img,
.contatto img,
#chat-dati-utente img {
    height: 80%;
    border-radius: 50%;
    margin: 0 5px 0 10px;
}

.dati-accesso {
    display: flex;
    flex-direction: column;
}

.icone {
    display: flex;
    justify-content: end;
    align-items: center;
}

.icone i {
    color: rgba(177,177,177,255);
    margin: 0 10px;
}

#pannello-notifiche {
    width: 100%;
    height: 12%;
    background-color: rgba(142,218,252,255);
    display: flex;
    align-items: center;
}

#pannello-notifiche i {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
    color: rgba(142,218,252,255);
    margin: 0 5px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ricerca {
    width: 100%;
    height: 8%;
    background-color: rgba(240,240,240,250);
    border-bottom: 1px solid rgba(233,235,235,255);
    display: flex;
    justify-content: center;
    align-items: center;
}

#ricerca i {
    width: 20%;
    height: 80%;
    border-right: 2px solid rgba(240,240,240,250);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: rgba(177,177,177,255);
}

#ricerca input {
    width: 75%;
    height: 80%;
    background-color: white;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
}

#chat {
    width: 100%;
    height: 70%;
    background-color: white;
    overflow-y: scroll;
}

.contatto {
    width: 100%;
    height: 15%;
}

.contatto:not(:last-child) {
    border-bottom: 1px solid rgba(233,235,235,255);
}

.contatto:hover {
    background-color: rgba(233,235,235,255);
}

#message-area {
    width: 100%;
    height: 80%;
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
    border-top: 1px solid lightgray;
    padding: 50px 50px 0;
}

#message-area>div {
    width: 100%;
}

#message-area>div::after {
    content: "";
    display: table;
    clear: both;
}

#text-area {
    width: 100%;
    height: 10%;
    background-color: rgba(243,238,234,255);
    border-left: 1px solid lightgray;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#text-area input {
    width: 70%;
    height: 80%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

#text-area i {
    color: rgba(153,158,158,255);
    font-size: 20px;
}

.messaggio {
    min-width: 40%;
    max-width: 70%;
    position: relative;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
}

.data-ora {
    position: absolute;
    right: 2px;
    bottom: 2px;
    font-size: 5px;
}

.received {
    float: right;
    background-color: rgba(213,249,186,255);
}

.sent {
    float: left;
    background-color: white;
}
